## NuGet
/*.nupkg
/packages/
!packages/repositories.config

## https://github.com/github/gitignore/blob/master/VisualStudio.gitignore (partial)
*.suo
*.user
*.userosscache
*.sln.docstates
[Bb]in/
[Oo]bj/
[Ll]og/
.vs/

## https://github.com/github/gitignore/blob/master/Global/MonoDevelop.gitignore (partial)
*.userprefs
*.usertasks

## https://github.com/github/gitignore/blob/master/Global/OSX.gitignore (partial)
.DS_Store

## https://github.com/github/gitignore/blob/master/Global/Windows.gitignore (partial)
Thumbs.db
Desktop.ini
